/* Estilos generales */
body {
  font-family: "Press Start 2P", system-ui;
  text-align: center;
}

/* Contenedor de la barra de búsqueda */
#search-bar-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Imagen dentro del contenedor de búsqueda */
#search-bar-container img {
  min-width: 20%;
  width: 312px;
  max-height: 150px;
}

/* Estilo del encabezado */
header > * {
  padding: 50px;
  font-size: 50px;
}

/* Estilo principal del cuerpo */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
}

/* Estilo de la barra de búsqueda */
#search-bar {
  width: 40%;
  height: 50px;
  font-size: 20px;
}

/* Contenedor de los Pokémon */
#pokemon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Ajustado a 20px para un espaciado más uniforme */
  justify-content: center;
}

/* Estilo de cada carta de Pokémon */
.pokemon-carta {
  background-color: orange;
  border-radius: 5%;
  border: 1px solid black;
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.pokemon-carta img {
  height: 250px;
  width: auto;
  object-fit: contain; /* Ajuste de imagen */
}

.pokemon-carta p {
  text-align: end;
}

/* Contenedor de los tipos de Pokémon */
#type-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

/* Estilo de los botones de tipo */
.tipo-div {
  margin: 10px;
  cursor: pointer;
  padding: 10px;
}

.tipo-div:hover {
  color: red;
}

.tipo-div img {
  border-radius: 20%;
  height: 50px;
}

/* Estilo del pie de página */
footer {
  height: 15vh;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

/* Detalles del Pokémon */
#pokemon-detail-container {
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa; /* Fondo claro para el contenedor */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
  text-align: center;
}

#pokemon-detail-container h2 {
  font-size: 32px;
  color: #333; /* Color oscuro para el título */
  margin-bottom: 20px;
}

#pokemon-detail-container img {
  width: 200px;
  height: auto;
  border-radius: 10px; /* Bordes redondeados para la imagen */
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Sombra sutil en la imagen */
}

#pokemon-detail-container p {
  font-size: 18px;
  color: #555; /* Color gris oscuro para el texto */
  line-height: 1.5;
  margin: 10px 0;
}

#pokemon-detail-container strong {
  font-weight: bold;
  color: #333;
}

#pokemon-detail-container .types {
  background-color: #e7f1f7;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

#pokemon-detail-container .stats {
  background-color: #f1f8e9;
  padding: 10px;
  border-radius: 5px;
}
